@model NorthWestLabs.Models.WorkOrderWithDetails

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Work Order Information</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.workOrder.WorkOrderID)

        <div class="form-group">
            @Html.LabelFor(model => model.workOrder.ClientID, "Company Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClientID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.workOrder.ClientID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.workOrder.QuoteID, "QuoteID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("QuoteID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.workOrder.QuoteID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.workOrder.DiscountRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.workOrder.DiscountRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.workOrder.DiscountRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.workOrder.DateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.workOrder.DateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.workOrder.DateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@foreach (NorthWestLabs.Models.AssayOrderWithTestResults assayorder in Model.assayOrderWithTestResultsList)
{
    <button class="accordion"><h3>Assay @assayorder.AssayOrder.AssayID ID:@assayorder.AssayOrder.AssayOrderID </h3><p>@assayorder.AssayOrder.ProtocolNotebook.AssayName</p></button>
    <div class="panel">

        <div style="padding-top:10px; float:right">@Html.ActionLink("Edit Assay Order", "Edit", "WorkOrders", new { id = Model.workOrder.WorkOrderID }, new { @class = "btn btn-primary btn default" })</div>
        <strong>Assay Name</strong> @assayorder.AssayOrder.ProtocolNotebook.AssayName<br />
        <strong>Assay Description</strong> @assayorder.AssayOrder.ProtocolNotebook.Description<br />
        <strong>Priority Level</strong> @assayorder.AssayOrder.PriorityLevel<br />

        <table class="table">
            <tr>
                <th>
                    LT Number
                </th>
                <th>
                    Test Name
                </th>
                <th>
                    Run Number
                </th>
                <th>
                    Run Again
                </th>
                <th>
                    Schedule Start
                </th>
                <th>
                    Status
                </th>
                <th>
                    Status Updated Date
                </th>
                <th>
                    Test Tube
                </th>
                <th>
                    Results
                </th>

            </tr>

            @{foreach (NorthWestLabs.Models.TestResult item in assayorder.testResults)
                {
                    <tr>
                        <td>
                            @item.LTNumber -
                            @item.TestID
                        </td>

                        <td>
                            @item.Test.Name
                        </td>
                        <td>
                            @item.RunNumber
                        </td>
                        <td>
                            @item.RunAgain
                        </td>
                        <td>
                            @item.ScheduleStart
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.StatusUpdatedDate
                        </td>
                        <td>
                            item.TestTube
                        </td>
                    </tr>
                }
            }
        </table>
        <br />
    </div>
                }

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        }
    }
</script>