@model NorthWestLabs.Models.ConditionalApproval

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConditionalApproval</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApprovalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApproverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApproverName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProtocolNotebook.AssayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProtocolNotebook.AssayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.ModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConditionalApprovalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
