@model NorthWestLabs.Models.AssayOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssayOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriorityLevel.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityLevel.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProtocolNotebook.AssayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProtocolNotebook.AssayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompoundID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompoundID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssayOrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
