@model NorthWestLabs.Models.ProtocolNotebook

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProtocolNotebook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Protocol.ProtocolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Protocol.ProtocolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstDaysToComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstDaysToComplete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequireAnimalTesting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequireAnimalTesting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
