
@{
    ViewBag.Title = "ChangePassword";
}
<div style="padding-bottom:10px; float:right">@Html.ActionLink("Return to Client Information", "ClientInfo", "Home", null, new { @class = "btn btn-primary btn default" })</div>
<h2>Change Password</h2>
<hr />
@using (Html.BeginForm("ChangePassword", "Client"))
{
<p><b>Your Username: </b> @User.Identity.Name.ToString()</p>
<p>Please enter your existing password:</p>
<label for="inputPassword">Old Password</label>
@Html.Password("OldPassword")
<br />
<p>Please enter a new password:</p>
<label for="inputPassword">New Password</label>
@Html.Password("NewPassword")
<br />
<p>Please confirm your new password:</p>
<label for="inputPassword"> New Password</label>
@Html.Password("ConfirmPassword")
<br />
<p><button type="submit">Submit</button></p>
}