@model IEnumerable<NorthWestLabs.Models.AssayOrderWithTestResults>

@{
    ViewBag.Title = "ClientOrderStatus";
}

@Html.ActionLink("Back to Order Summary", "Client") | @Html.ActionLink("Back to Client Portal", "Index")


<h2>Order Number @ViewBag.ordernumber</h2>
@foreach (NorthWestLabs.Models.AssayOrderWithTestResults assayorder in Model)
{
    <button class="accordion"><h3>Assay @assayorder.AssayOrder.AssayID ID:@assayorder.AssayOrder.AssayOrderID </h3><p>@assayorder.AssayOrder.ProtocolNotebook.AssayName</p></button>
    <div class="panel">

        <strong>Assay Name</strong> @assayorder.AssayOrder.ProtocolNotebook.AssayName<br />
        <strong>Assay Description</strong> @assayorder.AssayOrder.ProtocolNotebook.Description<br />
        <strong>Priority Level</strong> @assayorder.AssayOrder.PriorityLevel<br />

       

        <table class="table">
            <tr>
                <th>
                    LTNumber
                </th>
                <th>
                    Test.Name
                </th>
                <th>
                    RunNumber
                </th>
                <th>
                   RunAgain
                </th>
               
                <th>
                   ScheduleStart
                </th>
                <th>
                 Status
                </th>
                <th>
                   StatusUpdatedDate
                </th>
                <th>
                  TestTube.
                </th>
                <th>
                    Results
                </th>
               
            </tr>

            @{foreach (NorthWestLabs.Models.TestResult item in assayorder.testResults)
                {
                    <tr>
                        <td>
                            @item.LTNumber - 
                            @item.TestID
                        </td>
                        
                        <td>
                            @item.Test.Name
                        </td>
                        <td>
                            @item.RunNumber
                        </td>
                        <td>
                            @item.RunAgain
                        </td>
                        <td>
                            @item.ScheduleStart
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.StatusUpdatedDate
                        </td>
                       
                        
                        <td>
                            item.TestTube.
                        </td>
                        
                    </tr>

                }
            }

        </table>


                        <br />
            </div>





            }

<br /><br /><br /><br /><br /><br /><br />






<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        }
    }
</script>