@model IEnumerable<NorthWestLabs.Models.AccountInvoiceData>
@{
    ViewBag.Title = "Client Account";
}

<h2>Client Account</h2>
<hr />
@Html.ActionLink("Back to Client Portal", "Index", "Client", null, new { @class = "btn btn-primary btn default" })<br />
<div class="row">
    <div class="well col-md-4">
        <h3>Account Balance</h3>
        <h4>$@ViewBag.total</h4>
    </div>
    <div class="well col-md-4">
        <h3>Unpaid Charges</h3>
        <h4>$@ViewBag.total</h4>
    </div>
    <div class="well col-md-4">
        <h3>Payments</h3>
        @Html.ActionLink("Make A Payment", "Index", "Client", null, new { @class = "btn btn-primary btn default" })
    </div>

</div>
<div>
    @foreach (NorthWestLabs.Models.AccountInvoiceData invoice in Model)
    {
        <button class="accordion"><h2>Invoice @invoice.Invoice.InvoiceID </h2>
        <h4>@invoice.Invoice.InvoiceDate</h4>
        <p>invoice.Invoice.Term.DiscountDays | invoice.Invoice.Term.DiscountRate | invoice.Invoice.Term.FullAmountDays</p></button>
        <div class="panel">

             <table class="table">
                <tr>
                    <th>
                        Invoice Item ID
                    </th>
                    <th>
                        Assay ID
                    </th>
                    <th>
                        Charge
                    </th>
                 </tr>

                @{foreach (NorthWestLabs.Models.InvioceItem item in invoice.invoiceitems)
                {
                        <tr>
                            <td>
                                @item.InvoiceItemID
                            </td>
                            <td>
                                @item.AssayID
                            </td>

                            <td>
                               @item.Amount
                            </td>
                           

                        </tr>

                    }
                }

            </table>


            <br />
        </div>





                    }

</div>



<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        }
    }
</script>
