@model NorthWestLabs.Models.Client
@{
    ViewBag.Title = "Welcome";
}
<h2> </h2>

<div class="jumbotron">
    <h1>Welcome @Model.CompanyName</h1>
</div>

<div class="row">

  
    
    <div class="col-md-5 well">
        
        <h2>Order Summary</h2>
        <p>
            View past and current orders including test status and test results.
        </p>
        @Html.ActionLink("Order Summary", "ClientOrdersSummary", "Client", null, new { @class = "btn btn-primary btn default" }) 
     </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 well">
        <h2>Client Account</h2>
        <p>
            Access your current account balance and details from any past or current invoices. 
        </p>
        @Html.ActionLink("Client Account", "ClientAccount", "Client", null, new { @class = "btn btn-primary btn default" })
    </div>

    </div>
<div class="row">

    <div class="col-md-5 well">
        <h2>Client Information</h2>
        <p>
            Update your company information.
        </p>
        @Html.ActionLink("Client Information", "ClientInfo", "Client", new { clientid = 2}, new { @class = "btn btn-primary btn default" })
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 well">
        <h2>Request a Quote</h2>
        <p>
           Request a quote for a specific assay and compound. 
        </p>
        @Html.ActionLink("Request a Quote", "ClientPortalQuotes", "Client", null, new { @class = "btn btn-primary btn default" })
    </div>
   
</div>
