@model NorthWestLabs.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
