@model IEnumerable<NorthWestLabs.Models.ConditionalApproval>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApproverName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProtocolNotebook.AssayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Test.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrder.ModifiedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApproverName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProtocolNotebook.AssayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Test.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrder.ModifiedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConditionalApprovalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConditionalApprovalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConditionalApprovalID })
        </td>
    </tr>
}

</table>
