@model IEnumerable<NorthWestLabs.Models.Client>

@{
    ViewBag.Title = "Index";
}
<p>
    <div style="float:left">@Html.ActionLink("Return to Employee Portal", "SeattleIndex", "Seattle", null, new { @class = "btn btn-primary btn default" })</div>
    <div style="padding-bottom:10px; float:right">@Html.ActionLink("Create New Client", "CreateClient", null, new { @class = "btn btn-primary btn default" })</div>
</p>
<br /><br />
<h2>Client Information</h2>



<table class="table">
    <tr>
        <th>
            Company Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "EditClients", new { id = item.ClientID }) |
                @Html.ActionLink("Details", "ClientDetails", new { id = item.ClientID }) |
                @Html.ActionLink("Delete", "DeleteClients", new { id = item.ClientID })
            </td>
        </tr>
    }

</table>
