@model NorthWestLabs.Models.Employee
@{
    ViewBag.Title = "Welcome";
}
<h2> </h2>

<div class="jumbotron">
    <h1 style="text-align:center">Welcome @Model.Name!</h1>
</div>

<div class="row">
    <div class="col-md-4 well">

        <h2>Customer Work Orders</h2>
        <p>
            View past and current orders including test status.
        </p>
        @Html.ActionLink("Edit Order Summaries", "Index", "WorkOrders", null, new { @class = "btn btn-primary btn default" })
    </div>
    
    <div class="col-md-4 well">
        <h2>View Client Info</h2>
        <p>
            See a list of all current clients and their account information.
        </p>
        @Html.ActionLink("See Clients", "ClientIndex", "Seattle", null, new { @class = "btn btn-primary btn default" })
    </div>
    

    <div class="col-md-4 well">
        <h2>My Employee Account</h2>
        <p>
            Update your payment information for Employee Wages, change your password, and update your contact information.
        </p>
        @Html.ActionLink("Update Account", "EmployeeAccount", "Home", null, new { @class = "btn btn-primary btn default" })
    </div>
</div>

<div class="row">

    <div class="col-md-4 well">
        <h2>Test Results and Reports</h2>
        <p>
            Access test results.
        </p>
        @Html.ActionLink("Test Results and Reports", "DownloadResults", "Seattle", null, new { @class = "btn btn-primary btn default" })
    </div>
    
    <div class="col-md-4 well">
        <h2>Management Reports</h2>
        <p>
            Generate management reports.
        </p>
        @Html.ActionLink("Generate a Report", "ManagementReports", "Seattle", null, new { @class = "btn btn-primary btn default" })
    </div>
    <div class="col-md-4 well">
        <h2>Invoicing and Billing</h2>
        <p>
            Create, manage, and delete client invoices.
        </p>
        @Html.ActionLink("Manage Invoies", "Index", "ManageInvoices", null, new { @class = "btn btn-primary btn default" })
    </div>
    
</div>



