@model NorthWestLabs.Models.AssayOrderReport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssayOrderReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttachedFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttachedFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssayOrder.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayOrder.ModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssayOrderReportID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
