@model IEnumerable<NorthWestLabs.Models.WorkOrder>
@{
    ViewBag.Title = "NewInvoice";
}

<h2>Create A Invoice</h2>
<p>Select a work order to generate a new invoice</p>

@{
    <table class="table">
        <tr>
            <th>
                Work Order
            </th>
            <th>
                Order Date
            </th>
            <th>
                Company Name
            </th>
            <th>
                Contact Name
            </th>
            <th></th>
        </tr>
        @foreach(NorthWestLabs.Models.WorkOrder item in Model)
        {
        <tr>
            <td>
                @item.WorkOrderID
            </td>
            <td>
                @item.DateTime.ToShortDateString()
            </td>
            <td>
                @item.Client.CompanyName
            </td>
            <td>
                @item.Client.ContactFirstName @item.Client.ContactLastName
            </td>
            <td>
                @Html.ActionLink("Create Invoice from Order","AddInvoice","ManageInvoices",new {workorderid=item.WorkOrderID}, new { @class = "btn btn-primary btn default" })
            </td>
        </tr>


        }
    </table>
}


