@model NorthWestLabs.Models.EmployeeWageInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeWageInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastIncreaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastIncreaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastIncreaseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastIncreaseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentWage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentWage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WageType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectDeposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectDeposit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmloyeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
