@model NorthWestLabs.Models.Employee
@{
    ViewBag.Title = "Welcome";
}
<h2> </h2>

<div class="jumbotron" style="text-align:center;">
    <h1>Welcome @Model.Name</h1>
</div>

<div class="row">
    <div class="col-md-4 well text-center">
        <h2>Compound Receiving</h2>
        <p>
            Enter a compound as received and record it's weight upon receipt.
        </p>
        @Html.ActionLink("Receive Compound", "ReceiveCompound", "Singapore", null, new { @class = "btn btn-primary btn default" })
    </div>
    <div class="col-md-4 well text-center">

        <h2>Schedule Tests</h2>
        <p>
            View unassigned tests and assign them a start date.
        </p>
        @Html.ActionLink("Schedule Orders", "UnassignedTests", "Singpore", null, new { @class = "btn btn-primary btn default" })
    </div>
    <div class="col-md-4 well text-center">
        <h2>My Employee Account</h2>
        <p>
            Update your payment information for Employee Wages, change your password, and update your contact information.
        </p>
        @Html.ActionLink("My Account", "EmployeeAccount", "Singapore", null, new { @class = "btn btn-primary btn default" })
    </div>
</div>
<div class="row"> 
    <div class="col-md-4 well align-content-center text-center">
        <h2>View Assigned Tests</h2>
        <p>
            View tests assigned for a given week.
        </p>
        @Html.ActionLink("View Assigned Tests", "AssignedTests", "Singapore", null, new { @class = "btn btn-primary btn default" })
    </div>
    <div class="col-md-4 well align-content-center text-center">
        <h2>View All Pending Tests</h2>
        <p>
            View tests assigned for a given week.
        </p>
        @Html.ActionLink("View Pending Tests", "PendingTests", "Singapore", null, new { @class = "btn btn-primary btn default" })
    </div>
    <div class="col-md-4 well align-content-center text-center">
        <h2>Upload Test Results</h2>
        <p>
            Upload the test results for a completed test.
        </p>
        @Html.ActionLink("Request a Quote", "UploadResults", "Singapore", null, new { @class = "btn btn-primary btn default" })
    </div>
</div>


