
@{
    ViewBag.Title = "ReceiveCompound";
}

<div style="padding-bottom:10px; float:right">@Html.ActionLink("Return to Employee Portal", "Index", "Singapore", null, new { @class = "btn btn-primary btn default" })</div>

<h2>Received Compound Information</h2>

<br />
<dl class="dl-horizontal" style="text-align:left">
    <dt>
        Date Received:
    </dt>
    <dd>
        @Html.TextBox("Hey")
    </dd>
    <br />
    <dt>
        Company Name:
    </dt>
    <dd>
        @Html.TextBox("Hey")
    </dd>
    <br />
    <dt>
        Assay Name(s):
    </dt>
    <dd>
        @Html.TextBox("Hey")
    </dd>
    <br />
    <dt>
        Test Name(s):
    </dt>
    <dd>
        @Html.TextBox("Hey")
    </dd>
    <br />
    <dt>
        Associated Compound(s):
    </dt>
    <dd>
        @Html.TextBox("Hey")
    </dd>
    <br />
    <dt>
        Description:
    </dt>
    <dd>
        @Html.TextBox("Hey")
    </dd>
    

</dl>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <br />
        <input type="submit" value="Submit Quote" class="btn btn-default" />
    </div>
</div>