@model NorthWestLabs.Models.NewClientOrder
@{
    ViewBag.Title = "ClientNewWorkOrder";
}

<h2>New Work Order</h2>
<hr />

@Html.ActionLink("Add Another Compound to Order", "ClientNewWorkOrder", "ClientPortalOrders", new { workorderid = Model.workOrder.WorkOrderID }, new { @class = "btn btn-primary btn default" })
@Html.ActionLink("Submit Order", "Index", "Client",null, new { @class = "btn btn-primary btn default", style="float:right" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    Dictionary<int,NorthWestLabs.Models.Compound> LTNumberList = new Dictionary<int, NorthWestLabs.Models.Compound>();
    foreach(NorthWestLabs.Models.CompoundAssayOrder item in Model.compoundAssayOrderList)
    {
        if(!LTNumberList.ContainsKey(item.compound.LTNumber))
        {
            LTNumberList.Add(item.compound.LTNumber,item.compound);
        }
    }

    foreach (var LtNumber in LTNumberList)
    {
            <!--Display of compound and assay details-->
            <h3>Compound @LtNumber.Key | @LtNumber.Value.CompoundName</h3>
    <table class="table">
        <tr>
            <th>Assay Name</th>
            <th>LTNumber</th>
            <th>Work Days Processing</th>
            <th>Priority Rate</th>
        </tr>
    
    @foreach (NorthWestLabs.Models.CompoundAssayOrder item in Model.compoundAssayOrderList)
    {
        if (item.assayOrder.Compound.LTNumber == LtNumber.Key)
        {
            <tr>
                <td>@item.assayOrder.ProtocolNotebook.AssayName </td>
                <td>@LtNumber.Key-@item.compound.SequenceCode</td>
                <td>@item.assayOrder.PriorityLevel.WorkDaysProcessing</td>
                <td>@item.assayOrder.PriorityLevel.PriorityRate</td>
            </tr>
        }
    }
    </table>
    @Html.ActionLink("Add Assay to Compound", "ClientAddAssay", "ClientPortalOrders", new { workorderid = Model.workOrder.WorkOrderID, LTNumber = LtNumber.Key }, new { @class = "btn btn-primary btn default" })


    }

    //@Html.ActionLink("Add Another Compound to Order", "ClientNewWorkOrder", "ClientPortalOrders", new { workorderid = Model.compoundAssayOrderList.wor item.assayOrder.WorkOrderID, LTnumber = item.compound.LTNumber }, new { @class = "btn btn-primary btn default" })



                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @*<div class="form-group">
                        <input type="submit" value="New Order" class="btn btn-default" />
                    </div>*@
                </div>

   
}
