@model NorthWestLabs.Models.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CCAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankTransferAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankTransferAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentData.BillingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentData.BillingName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
