@model NorthWestLabs.Models.AssayOrderWithTestResults

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Assay Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AssayOrder.AssayOrderID)

        <div class="form-group">
            @Html.LabelFor(model => model.AssayOrder.ProtocolNotebook.AssayName, "Assay Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.AssayOrder.ProtocolNotebook.AssayName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssayOrder.ProtocolNotebook.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.AssayOrder.ProtocolNotebook.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssayOrder.PriorityLevelID, "Priority Level ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PriorityLevelID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AssayOrder.PriorityLevelID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssayOrder.Compound.LTNumber, "LT Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.AssayOrder.Compound.LTNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        @foreach (NorthWestLabs.Models.TestResult item in Model.testResults)
        {
        <div class="form-group">
            @Html.LabelFor(model => item.Test, "Test Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TestName",null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => item.TestID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => item.RunNumber, "Run Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => item.RunNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.RunNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => item.ScheduleStart, "Schedule Start", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => item.ScheduleStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.ScheduleStart, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => item.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => item.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => item.StatusUpdatedDate, "Status Update Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => item.StatusUpdatedDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.StatusUpdatedDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => item.TestTube,"Test Tube", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => item.TestTube, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.TestTubeID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => item.TextFile, "Results", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => item.TextFile, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Work Order", "Details", "WorkOrders", new { id = Model.AssayOrder.WorkOrder.WorkOrderID }, new { @class = "btn btn-primary btn default" })
</div>
